@font-face {
 font-family: "khula";
 src: url("https://fonts.gstatic.com/s/khula/v7/OpNPnoEOns3V7G-ljBvTpi8.woff2") format('woff2');
}

@font-face {
    font-family: "poppins";
    src: url("src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');") format("ttf");
}

@font-face {
    font-family: "yantramanav";
    src: url("https://fonts.gstatic.com/s/yantramanav/v6/flU8Rqu5zY00QEpyWJYWN5fzXeY.woff2") format('woff2');
}

body {
    background-color: rgb(173, 154, 154);
}

h1 {
    font-family: "khula", Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 30px;
    font-weight:800;
    font-size: 250% ;
  
}

h2 {
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

div {
    background-color:whitesmoke;
    width: 60%;
    border: thin solid black;
    margin: 10px auto;
    padding-left: 10px;
}

.color-container{
    width: 60%;
    border: none;
    width: 90%;
    font-family: "yantramanav", Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.color-panel-text-black {    
    background-color: #001;
    color: whitesmoke;
    width: 20%;
    display: inline-block;
}

.color-panel-graphic-gray{
    background-color: #618985;
    color: whitesmoke;
    width: 20%;
    display: inline-block;
}

.color-panel-link-brown{
    background-color: #D45113;
    color: whitesmoke;
    width: 20%;
    display: inline-block;
}

.color-panel-cartoon-gray{
    background-color: #DED8CE;
    color: black;
    width: 20%;
    display: inline-block;
}


.khula {
    font-family: "khula", Arial, Helvetica, sans-serif;
    position: 0 auto;
    }

#khula-bold {
    font-weight:700;
}

#khula-italic {
    font-style:italic;
}

.poppins {
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

#poppins-bold {
    font-weight:700;
}

#poppins-italic {
    font-style:italic;
}

.yantramanav {
    font-family: "yantramanav", Arial, Helvetica, sans-serif;
}

#yantramanav-bold {
    font-weight:700;
}

#yantramanav-italic {
    font-style:italic;
}
/*----------------styles container------------------*/

#styles-h1{
    font-size: large;
    font-family: "khula", Arial, Helvetica, sans-serif;
   border: none;
    border-bottom: solid;

}

#styles-h2{
    border:none;
    border-bottom: solid;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-size:larger;
    font-weight: 100;
}

#styles-h2 h2{
    text-align: center;
    
}

#styles-p {
    font-family: "yantramanav", Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: solid;
    font-size: larger;    
}

#styles-p h2{
    text-align: center;
    font-family: "yantramanav", Arial, Helvetica, sans-serif;
}

.extras p {
   font-family: "yantramanav", Arial, Helvetica, sans-serif;
}

img {   
    width: 40%;
    height:auto;    
    float:right;  
    position: relative;
    top: 0px;   
    z-index: 0;
    }